/*====================================*\
  @ Colours
\*====================================*/

$link:   #3892E3;
$text:   #777777;
$light:  #BBBBBB;
$border: #DDDDDD;
$faint:  #EEEEEE;

/*====================================*\
  @ Sprite
\*====================================*/

$sprite:   url('/images/sprite.png') no-repeat;
$sprite2x: url('/images/sprite@2x.png') no-repeat;
